{% extends "@PrestaShop/Admin/layout.html.twig" %}

{% block content %}
	<div class="d-flex justify-content-center mb-3 flex-column col-1">
		<h1 class="m-0 p-0">Sync</h1>
		<button type="button" class="btn btn-danger" id="syncButton" data-sync-url="{{ path('productimporter-categories-sync') }}">
			<i class="material-icons">sync</i>
		</button>
	</div>
	<div class="d-flex justify-content-between" id="categoriesPage" data-unlink-category-url="{{ path('productimporter-categories-unlink') }}">


		<div class="w-50 overflow-auto pr-2">
			<input type="textarea" class="form-control" id="remoteLinkedCategories" readonly>
			<div class="d-flex justify-content-between mb-3 flex-column mt-4">
				<h1 class="m-0 p-0">Remote Categories</h1>
			</div>
			{# productimporter-get-remote-category-tree #}
			<div id="remote" data-remote-url="{{path('productimporter-get-remote-category-tree')}}" data-get-remote-mapped-categories-url="{{ path('productimporter-get-remote-mapped-categories') }}"></div>
		</div>

		<div class="w-50 overflow-auto pl-2">

			<div class="d-flex justify-content-between mb-3 flex-column">
				<input type="textarea" class="form-control" id="localLinkedCategories" readonly>
				<div class="d-flex justify-content-between mt-4">
					<h1 class="m-0 p-0">Local Categories</h1>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">
						<i class="material-icons">add</i>
					</button>
				</div>
			</div>


			<div id="local" class="demo" data-get-local-mapped-categories-url="{{ path('productimporter-get-local-mapped-categories') }}" data-delete-category-url="{{ path('productimporter-categories-delete') }}" data-local-url="{{ path('productimporter-get-local-category-tree') }}"></div>
		</div>
	</div>

	<div class="mt-5">
		<p>Selected category:</p>
		<div id="selectedCategory"></div>
	</div>

	{# Include category CRUD modals here #}

	{# Loading overlay #}
	<div id="loading" class="position-fixed d-none" style="top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); display: flex; justify-content: center; align-items: center; z-index: 9999; pointer-events: all;">
		<div style="background-color: white; padding: 20px; border-radius: 10px; text-align: center;">
			<div class="spinner-border text-primary" role="status"></div>
			<p style="margin-top: 10px; font-weight: bold; color: #333;">Caricamento...</p>
		</div>
	</div>

	{# modal for adding new category #}
	{% include '@Modules/productimporter/templates/admin/components/category_crud_modal/add_category_modal.html.twig' %}
	{% include '@Modules/productimporter/templates/admin/components/category_crud_modal/edit_category_modal.html.twig' %}
	{% include '@Modules/productimporter/templates/admin/components/category_crud_modal/link_category_modal.html.twig' %}


{% endblock %}

{# load JS #}
{% block javascripts %}
	{{ parent() }}
{% endblock %}

{# load CSS #}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
